$defaultWidth: 480px;

@import "msk modules/msk_colors";
@import "partials/setup";
@import "partials/slide";


#angularContainer{
	font-family: arial;
	font-size: 14px;
	width:  $defaultWidth;
	margin: 0px auto;

}


