<div id="setup">
	<h1>Slideshow Setup Mode</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia necessitatibus qui distinctio vero eligendi iste quia veritatis sed minus animi quo, cum neque, earum consequatur ducimus excepturi quas inventore officiis enim unde alias. Deleniti molestiae non possimus, laborum repellendus nobis!</p>

	<div id="form">
		<div class="formRow">
			<span>Slides Folder</span>
			<input class="angularInputs" type="text" ng-model="folderURL">
		</div>
		<div class="formRow">
			<span>Label for headline</span>
			<input class="angularInputs" type="text" ng-model="options.labelheadline">
		</div>
		<div class="formRow">
			<span>Headline</span>
			<input class="angularInputs" type="text" ng-model="options.headline">
		</div>
	</div>	

	<div id="saveButton" ng-click="save()">Save</div>

</div>