<div id="setup">
	<h1>Slideshow Setup Mode</h1>

	<div id="form">
		<div class="formRow">
			<span>Folder Path of Images</span>
			<input class="angularInputs" type="text" ng-model="folderURL">
		</div>
		<div class="formRow">
			<span>Label for headline</span>
			<input class="angularInputs" type="text" ng-model="options.labelheadline">
		</div>
		<div class="formRow">
			<span>Headline</span>
			<input class="angularInputs" type="text" ng-model="options.headline">
		</div>
	</div>	

	<div id="saveButton" ng-click="save()">Save</div>

</div>