#angularContainer {
  font-family: arial;
  font-size: 14px;
  width: 480px;
  margin: 0px auto; }

#angularSlide #seriesOfSlides {
  width: 400px;
  margin: 0px auto; }
  #angularSlide #seriesOfSlides img {
    border: 0px;
    width: 400px; }
#angularSlide #pagination {
  text-align: center; }
  #angularSlide #pagination #currentSlideNumber, #angularSlide #pagination #totalSlides {
    font-weight: bold; }
  #angularSlide #pagination #leftArrow, #angularSlide #pagination #rightArrow {
    cursor: pointer; }
#angularSlide #description {
  width: 400px;
  padding: 0px 40px; }

#setup {
  width: 480px; }
  #setup #form .formRow {
    margin-bottom: 10px; }
  #setup .angularInputs {
    width: 95%; }
  #setup #saveButton {
    background: #377bb7;
    text-align: center;
    width: 60px;
    margin-top: 10px;
    float: right;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    color: white; }
