#setup {
  width: 480px; }
  #setup #form .formRow {
    margin-bottom: 10px; }
  #setup .angularInputs {
    width: 95%; }
  #setup #saveButton {
    background: #377BB7;
    text-align: center;
    width: 60px;
    margin-top: 10px;
    float: right;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    color: white; }

#angularSlide #seriesOfSlides {
  width: 480px;
  margin: 0px auto; }
  #angularSlide #seriesOfSlides #slideLabel {
    font-size: 14px;
    word-break: break-all; }
  #angularSlide #seriesOfSlides #slideHeadline {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    word-break: break-all; }
  #angularSlide #seriesOfSlides img {
    border: 0px;
    width: 480px; }
  #angularSlide #seriesOfSlides #authorname {
    text-align: right;
    font-size: 11px;
    margin-top: 5px;
    height: 14px;
    color: #797979; }

#angularSlide #pagination {
  text-align: center;
  position: relative;
  height: 40px; }
  #angularSlide #pagination #currentSlideNumber, #angularSlide #pagination #totalSlides {
    font-weight: bold; }
  #angularSlide #pagination #leftArrow, #angularSlide #pagination #rightArrow {
    cursor: pointer;
    position: absolute;
    top: 0px; }
  #angularSlide #pagination #leftArrow {
    left: 185px; }
  #angularSlide #pagination #rightArrow {
    right: 185px; }
  #angularSlide #pagination #paginationCounter {
    text-align: center;
    padding-top: 5px; }

#angularSlide #description {
  width: 480px; }

#angularContainer {
  font-family: arial;
  font-size: 14px;
  width: 480px;
  margin: 0px auto; }
