#setup {
  width: 480px; }
  #setup #folderControls {
    margin-top: 10px; }
    #setup #folderControls span {
      color: #377BB7;
      cursor: pointer; }
  #setup #form .formRow {
    margin-bottom: 15px; }
    #setup #form .formRow .formLabel {
      font-weight: bold; }
    #setup #form .formRow #folderPath {
      color: #F16C3C; }
  #setup .angularInputs {
    width: 95%; }
  #setup #folderList {
    height: 200px;
    overflow-y: scroll;
    border: inset 2px #E0E1DA;
    margin-bottom: 10px; }
    #setup #folderList span {
      cursor: pointer;
      color: #797979;
      padding: 5px; }
  #setup #saveButton {
    background: #377BB7;
    text-align: center;
    width: 60px;
    margin: 10px auto;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    color: white; }

#angularSlide #seriesOfSlides {
  margin: 0px auto; }
  #angularSlide #seriesOfSlides #slideLabel {
    font-size: 12px;
    word-break: break-all;
    color: #797979;
    background: #FFFFFF; }
  #angularSlide #seriesOfSlides #slideHeadline,
  #angularSlide #seriesOfSlides #slidedynamicHeadline {
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 10px;
    word-break: break-all;
    color: #262626;
    background: #FFFFFF; }
  #angularSlide #seriesOfSlides #slideContainer {
    background: #FFFFFF; }
  #angularSlide #seriesOfSlides img {
    border: 0px; }
  #angularSlide #seriesOfSlides #authorname {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: right;
    font-size: 9px;
    padding: 5px;
    height: 10px;
    color: #FFFFFF;
    position: absolute;
    margin-top: -23px;
    overflow: hidden; }

#angularSlide #pagination {
  text-align: center;
  position: relative;
  height: 40px;
  padding-top: 15px;
  background: #FFFFFF;
  width: 130px;
  margin: 0px auto; }
  #angularSlide #pagination #currentSlideNumber, #angularSlide #pagination #totalSlides {
    font-weight: bold; }
  #angularSlide #pagination #leftArrow,
  #angularSlide #pagination #rightArrow {
    cursor: pointer;
    position: absolute;
    top: 0px; }
  #angularSlide #pagination #leftArrow {
    left: 0px;
    top: 15px; }
  #angularSlide #pagination #rightArrow {
    right: 0px;
    top: 15px; }
  #angularSlide #pagination #paginationCounter {
    text-align: center;
    padding-top: 5px; }

#angularSlide #description {
  color: #262626;
  background: #FFFFFF;
  margin-top: 10px;
  height: 69px; }

#angularSlide .scroll {
  overflow-y: scroll; }

#angularSlide .hideDescription {
  display: none; }

#angularContainer {
  font-family: arial;
  font-size: 14px;
  width: 480px; }
