#angularSlide{
	#seriesOfSlides{
		width: $defaultWidth;
		margin: 0px auto;
		#slideLabel {
			font-size: 12px;
			word-break: break-all;
			color: $msk_gray;
		}
		#slideHeadline, #slidedynamicHeadline {
			font-size: 23px;
			font-weight: bold;
			margin-bottom: 10px;
			word-break: break-all;
			color: lighten(black, 15%);
		}
		img {
			border: 0px;
			width: $defaultWidth;
		}
		#authorname {
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,.30);
			text-align: right;
			font-size: 9px;
			padding: 5px;
			height: 10px;
			color: $white;
			width: 470px;
			position: absolute;
			margin-top: -20px;
			overflow: hidden;
		}
	}
	#pagination {
		$arrowSpacing: 185px;
		text-align: center;
		position: relative;
		height: 40px;
		margin-top: 15px;
		#currentSlideNumber, #totalSlides {
			font-weight: bold;
		}
		#leftArrow, #rightArrow {
			cursor: pointer;
			position: absolute;
			top: 0px;
		}
		#leftArrow{
			left: $arrowSpacing;
		}
		#rightArrow {
			right: $arrowSpacing;
		}
		#paginationCounter {
			text-align: center;
			padding-top: 5px;
		}
	}
	#description{
		width: $defaultWidth;
		color: lighten(black,15%);
	}
}